/*Source Sans Pro*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
/*Oswald*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-space-btw{
    display: flex;
    justify-content: space-between;
}

.active{
    border-bottom: 2px solid white;
    padding-bottom: 2px;
}

h1{
    font-size: 4rem;
}

h3{
    font-size: 2rem;
    font-weight: normal;
}

header{
    width: auto;
    height: 100vh;
    padding: 3rem 0;
    background: url("./assets/Desktop_Backgrounds_1920x1200_6 3.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}
header nav{
    width: 90%;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
header nav a{
    text-decoration: none;
    color: white;
    margin: 0 0.5em;
    line-height: 1rem;
    font-size: 0.9rem;
    letter-spacing: 0.2em;
}

:is(header nav a, header nav h2):hover{
    font-weight: bold;
}

header nav h2 {
    letter-spacing: 0.1em;
    font-size: 1.25rem;
    font-weight: 600;
}

.header-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-content img{
    width: 4rem;
}

.header-content h1{
    font-family: 'Oswald';
    font-size: 3rem;
    line-height: 4rem;
    margin: 1rem 0 2rem;
}

.header-content p{
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, 0.7);
}

/*main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*first section of main*/
.first{
    width: 100%;
    padding: 5rem 0;
    text-align: center;
}

.first h1{
    font-family: 'Oswald';
    color: #464547;
    font-weight: 700;
    line-height: 4rem;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.first h3{
    line-height: 2rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    color: #666666;
}


.first-content{
    width: 75%;
}

.first-content > *{
    width: calc(50% - 2.5rem);
    line-height: 1.4rem;
    color: #666666;
    text-align: left;
    font-size: 1rem;
    margin-bottom: 3rem;
}

.first button {
    font-family: 'Oswald';
    background-color: #55C2D8;
    border-radius: 18px;
    padding: 0.5em 1.5em;
    font-size: 0.8rem;
    color: white;
    border: none;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.first button:hover{
    background-color: #7cccdc;
}

.second{
    width: 100%;
    text-align: center;
    padding: 5rem 0;
    background: url("./assets/BG2.png");
    color: white;
    background-size: cover;
}

.second > *{
    margin: 2rem 0;
}

.second h1{
    font-family: 'Oswald';
    font-size: 3rem;
    line-height: 4rem;
}

.second button{
    border-radius: 50%;
    padding: 3em 3em;
    background-color: #39C2D7;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.second button:hover{
    background-color: #72c8d5;
}

.second button i{
    font-size: 4rem;
    color: white;
    transform: translateX(0.3rem);
}

.second p{
    min-width: 351px;
    line-height: 2rem;
    font-size: 1.5rem;

}


footer{
    width: 100%;
    background-color: #464547;
    color: white;
    padding: 3rem 0 4rem;
}

footer .container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}



.footer-logo{
    display: flex;
    align-items: start;
}

.footer-logo span {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1rem;
    font-size: 1.1rem;
}

.footer-logo img{
    margin-right: 1rem;
}

footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.4);
}

footer a{
    color: white;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

.footer-logo span{
    padding-top: 0.1rem;
}

footer .rights{
    display: flex;
    align-items: end;
    padding-top: 4rem;
}

.burger{
    display: none;
    font-size: 2rem;
}

@media screen and (max-width: 870px) {
    header nav {
        grid-template-columns: 1fr 2fr;
    }
}

@media screen and (max-width: 768px) {
    header nav {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    header nav ul{
        display: none;
    }
    .burger{
        display: block;
    }

    .first, .header-content, .second-content{
        width: 95%;
    }
    .second{
        padding: 2rem 0;
    }

    .second-content > * {
        margin: 3rem 0;
    }

    .first-content{
        flex-direction: column;
        align-items: center;
    }
    .first-content p{
        width: 100%;
    }

    footer .container{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .container > *{
        justify-self: center;
    }

    .second-content button{
        padding: 1.5rem 1.5rem;
    }



}